.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: #f4f4f4;
    color: #000;
    display: block;
    padding: 1rem;
    text-decoration: none;
    &:hover {
      color: #555;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777;
    font-size: 0.8rem;
  }
}
